<%- include('includes/head') %>

<%- include('includes/upper-body') %>

<h2>Page Not Found</h2>
<form action='/home' method="POST">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Back to Home Page</button>
    </div>
</form>
                
<%- include('includes/lower-body') %>